<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Apartments - Form</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>
<body>
	<div class="container">

		<div class="jumbotron">
			<h2>Apartment Form</h2>
            {% block content %}
            <div class="content-section">
			
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
						<legend class="border-bottom mb-4"> </legend>
                        <label>First name:*</label><br>
                        {{ form.first_name }} <br><br>
                        <label>Last name:*</label><br>
                        {{ form.last_name }} <br><br>
                        <label>Email:</label><br>
                        {{ form.email }} <br><br>
                        <label>Phone no:</label><br>
                        {{ form.phone_no }} <br><br>
                        <label>Address:*</label><br>
                        {{ form.address }} <br><br>
                        <label>House company:*</label><br>
                        {{ form.house_company }} <br><br>
                        <label>Date:</label><br>
                        {{ object.date_posted|date:"h:m d F, Y" }}<br><br>
                        <label>Notes:</label><br>
                        {{ form.notes }} <br>
                        
						
						
					
                    </fieldset>
        
            
            <button class="btn btn-success btn-sm mt-1 mb-1" type="submit">Submit</button>
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'apartment' %}">Cancel</a>
            </div>
            {% endblock content %}
    </div>
</form>
</body>
</html