<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Facilities - Apartments</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>
<body>
	<div class="container">

		<div class="jumbotron">
			{% if messages %}
				  {% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
					  {{ message }}
					</div>
				  {% endfor %}
				{% endif %}
			<h1>Apartments</h1>
			
			
		<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'home'  %}">Return to Index</a>  	
		<a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'apartment-create' %}">New</a>
		<br><br>
		<table class="table table-striped">
			<thead>
			  <tr>
				<th>Address</th>
				<th>Last name</th>
				<th>Author</th>
				<th>Date / Update</th>
				<th>Delete</th>
				<th>New ticket</th>
			  </tr>
			</thead>
			
		{% block content %}
		{% for Apartment in posts %}
        
				<tbody>
					<tr>
					  <td>{{ Apartment.address }}</td>
					  <td>{{ Apartment.last_name }}</td>
					  <td>{{ Apartment.author }}</td>
					  <td><a href="{% url 'apartment-update' Apartment.id %}">{{ Apartment.date_last_save|date:"H:i d F, Y" }}</a></td>
					  <td><a href="{% url 'apartment-delete' Apartment.id %}">Delete</a></td>
					  <td><a href="{% url 'pre-ticket-create' Apartment.id %}">New ticket</a></td>
					</tr>
				</tbody>	
				  
		
		{% endfor %}
		{% endblock content %}

		
		</table>
		<div class="pagination">
			<span class="step-links">
				{% if posts.has_previous %}
					<a href="?page=1">&laquo; first</a>
					<a href="?page={{ posts.previous_page_number }}">previous</a>
				{% endif %}
		
				<span class="current">
					Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
				</span>
		
				{% if posts.has_next %}
					<a href="?page={{ posts.next_page_number }}">next</a>
					<a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
				{% endif %}
			</span>
		</div>
		</div>
	</div>
</body>
</html>
