<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title></title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>
<body>
	<div class="container">

		<div class="jumbotron">
			<h1>Detail page</h1>
			<p>The button you clicked has no implemented functionality - yet.</p>
			<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'apartment'  %}">Back</a>
			<a class="btn btn-success btn-sm mt-1 mb-1" href="#">Edit</a>
			<a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Delete</a>
            {% block content %}
            <article class="media content-section">
              
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ object.author }}</a>
                  <small class="text-muted">{{ object.date_posted|date:"h:m F d, Y" }}</small>
                  {% if object.author == user %}
                    <div>
                     
                    </div>
                  {% endif %}
                </div>
            <h2><a class="article-title">{{ object.address }}</a></h2>
			<p class="article-content">First name: {{ object.first_name }}</p>
			<p class="article-content">Last name: {{ object.last_name }}</p>
			<p class="article-content">E-mail: {{ object.email }}</p>
			<p class="article-content">Phone no: {{ object.phone_no }}</p>
			<p class="article-content">House company: {{ object.house_company }}</p>
			<p class="article-content">Date: {{ object.date_posted }}</p>
			<p class="article-content">Notes: {{ object.notes }}</p>
              </div>
            </article>
          {% endblock content %}  
		
		</div>
	</div>
</body>
</html