<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Facilities - Index</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>
<body>
	<div class="container">

		<div class="jumbotron">
			{% if messages %}
				  {% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
					  {{ message }}
					</div>
				  {% endfor %}
				{% endif %}
			
			<h1>Facilities0Pre1.2</h1>
		{% if user.is_authenticated %}
			<p>This is test service and it is coded using the Django framework.<br>Hanna P</p>
			<p>Date, Time: {{ date_str }}</p>
			<p>User: {{ user }}</p>
			<p>Member: {{ members_of }}</p>
			
            
        
		
		
		
		<a class="btn btn-danger btn-sm mt-1 mb-1" href='{% url 'logout' %}'>Logout</a>
		<a class="btn btn-success btn-sm mt-1 mb-1" href='{% url 'apartment' %}'>Apartments</a>
		<a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'ticket-create' %}">New ticket</a>
		{% else %}
		<p>This is a simple job management service done for property maintenance 
			and the coding work has been done as an example.</p>
		<a class="btn btn-success btn-sm mt-1 mb-1" href='{% url 'login' %}'>Login</a>
		{% endif %}
		<br>
		{% if user.is_authenticated %}
		<br><br>
		<form action="/filter/" method="POST">
		{% csrf_token %}
		{{ filter }}
		<input type = "submit" value = "Submit Filter" />
		</form>
		<br>	
		<table class="table table-striped">
			<thead>
			  <tr>
				<th>Date posted</th>
				<th>Title</th>
				<th>Address</th>
				<th>Last name</th>
				<th>Last author</th>
				<th>Last save / Update</th>
			  </tr>
			</thead>
			{% block content %}
			{% for Ticket in posts %}
			
					<tbody>
						<tr>
							<td>{{ Ticket.date_posted|date:"H:i d F, Y" }}</td>
							<td>{{ Ticket.title }}</td>
							<td>{{ Ticket.address }}</td>
							<td>{{ Ticket.last_name }}</td>
							<td>{{ Ticket.author }}</td>
							<td><a href="{% url 'ticket-update' Ticket.id %}">{{ Ticket.date_last_save|date:"H:i d F, Y" }}</a></td>
						</tr>
					</tbody>	
					  
			
			{% endfor %}
			{% endblock content %}
	
		
	</table>
		<div class="pagination">
			<span class="step-links">
				{% if posts.has_previous %}
					<a href="?page=1">&laquo; first</a>
					<a href="?page={{ posts.previous_page_number }}">previous</a>
				{% endif %}
				
				<span class="current">
				Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
				</span>
	
				{% if posts.has_next %}
					<a href="?page={{ posts.next_page_number }}">next</a>
					<a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
				{% endif %}
			</span>
		</div>
		{% endif %}
    </div>
	</div>
</body>
</html>
