<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Ticket - Form Update</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- jQuery DatePicker  -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js">
    </script>
    <script>
    $.datepicker.setDefaults(
  $.extend(
    
    $.datepicker.regional['en'],
    {'dateFormat':'yy-mm-dd'}
  )
);
    $(document).ready(function() {
    
        $('.datepicker').datepicker();
    
    });
    
    </script>
    
    

</head>


<body>
    <div class="container">

        <div class="jumbotron">
            <div class="well"><h2>Ticket Form Update</h2></div>
            <div class="well well-sm"><h4><b>Apartment</b></h4></div>
            {% block content %}
            <div class="content-section">
			
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4"> </legend>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>First name:*</label><br>
                                {{ form.first_name }} <br><br>
                                <label>Email:</label><br>
                                {{ form.email }} <br><br>
                                <label>Title:*</label><br>
                                {{ form.title }}
                            </div>
                                <div class="col-sm-3">
                                <label>Last name:*</label><br>
                                {{ form.last_name }} <br><br>
                                <label>Address:*</label><br>
                                {{ form.address }} <br><br>
                            </div>
                            <div class="col-sm-3">
                                <label>Phone no:</label><br>
                                {{ form.phone_no }} <br><br>
                                <label>House company:*</label><br>
                                {{ form.house_company }}
                            </div>
                        </div>
                        <br><br>
                        <div class="well well-sm"><h4><b>Fault</b></h4></div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Fault:*</label><br>
                                {{ form.fault }}<br><br>
                                <label>Notes:</label><br>
                                {{ form.notes }} 
                            </div>
                        </div>
                        <br><br>
                        <div class="well well-sm"><h4><b>Repair</b></h4></div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Repair state:</label><br>
                                {{form.repair_state }}<br><br>
                                <label>Repair:</label><br>
                                {{ form.repair }}
                            </div>
                            <div class="col-sm-3">
                                <label>Date repair:</label><br>
                                {{ form.date_repair }}
                            </div>
                        </div>
                        <br><br>
                        <ul class="list-group" style="width:69%">
                            <li class="list-group-item list-group-item-info"><b> Creating date :</b></li>
                            <li class="list-group-item">{{ object.date_posted|date:"H:i d F, Y" }}</li>
                            <li class="list-group-item list-group-item-info"><b>Creating author:</b></li>
                            <li class="list-group-item">{{ object.username_first}}</li>
                            <li class="list-group-item list-group-item-info"><b>Last save date:</b></li>
                            <li class="list-group-item">{{ object.date_last_save|date:"H:i d F, Y" }}</li>
                            <li class="list-group-item list-group-item-info"><b>Last save author:</b></li>
                            <li class="list-group-item">{{ object.author}}</li>
                        </ul>
                    </fieldset>
                    
            
                    <button class="btn btn-success btn-sm mt-1 mb-1" type="submit">Submit</button>
                    <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'home' %}">Cancel</a>
                </form>

            </div>
            {% endblock content %}
        </div>
    </div>

</body>
</html>